.battle_area{
	width:200px;
	height:200px;
	margin-top: 100px;
	margin-left:100px;
    border: 1px solid black;
}

.battle_block{
	width:20px;
	height:20px;
/*	margin-top: 50px;
	margin-left:50px;
    background-color: #000000;*/
    position: absolute;
}

.undisplay{
	display: none;
}

.block_a{
	margin-top: 50px;
	margin-left:50px;
    background-color: #000000;
}

.block_b{
	margin-top: 50px;
	margin-left:80px;
    background-color: #1C30CD;
}

.block_c{
	margin-top: 150px;
	margin-left:50px;
    background-color: #36CD1C;
}
